<template>
    <b-container id="global" fluid>
    <b-row>
        <b-col>
            <b-table striped hover :items="inboxes" :fields="fields" :primary-key="inboxes.id" @row-clicked="redirectToInbox"></b-table>
            <b-button-group>
                <b-button router-link :to="{ name: 'createInbox' }">Add inbox</b-button>
            </b-button-group>
        </b-col>
    </b-row>
    </b-container>
</template>

<style scoped>

</style>

<script>
export default {
    data() {
        return {
            fields: ['name'],
            inboxes: [],
        }
    },

    async created() {
        this.inboxes = await this.$store.dispatch('inbox/getInboxesAsync')
    },

    methods: {
        redirectToInbox(record) {
           this.$router.push({ name: 'Inbox', params: { id: record.inboxId }})
        }
    }
}
</script>