<template>
      <b-container id="global">
      <b-row>
        <b-col>
          <h1>Login</h1>
          <hr>
           <b-alert v-if="error" variant="danger" show>
             {{ error }}
           </b-alert>
           <b-form @submit.prevent="submit"> 
            <b-form-group
        label="Email address"
      ></b-form-group>

      <b-form-input
        type="text"
        v-model="credentials.email"
        placeholder="Email address"></b-form-input>

  <b-form-group  label="Password">
        <b-form-input
          type="password"
          v-model="credentials.password"
          placeholder="Password"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary" :disabled="$v.$invalid">Login</b-button>

      </b-form> 
        </b-col>
        <b-col>
          <h1>Email testing for development&mdash;for free.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </b-col>
      </b-row>
      </b-container>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { errorMixin } from '../mixins/error'
 
export default {
  mixins: [errorMixin],

  data() {
    return {
      credentials: {
        email: '',
        password: ''
      },
    }
  },

  validations: {
    credentials: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    }
  },

  methods: {
    setEmail(email) {
      this.credentials.email = email
    },

    async submit() {
        await this.$store.dispatch('account/loginAsync', this.credentials)
        this.$router.push('dashboard')
    }
  }
}
</script>