<template>
    <b-container id="global">
        <h1>Create an account</h1>

        <b-alert v-if="error" variant="danger" show>{{ error }}</b-alert>

        <b-form @submit="submit">
             <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          @input="$v.form.email.$touch"
        ></b-form-input>

        <div class="error" v-if="!$v.form.email.required">Email address is required.</div>
        <div class="error" v-if="!$v.form.email.email">Invalid email address</div>
      </b-form-group>

        <b-form-group
          id="input-group-1"
         label="Password:"
         label-for="input-1">
         <b-form-input
          id="input-1"
          v-model="form.password"
          type="password"
          @input="$v.form.password.$touch"
        ></b-form-input>

        <div class="error" v-if="!$v.form.password.required">Password is required.</div>
        </b-form-group>

         <b-form-group
          id="input-group-1"
         label="Repeat password:"
         label-for="input-1">
         <b-form-input
          id="input-1"
          v-model="form.repeatedPassword"
          type="password"
          @input="$v.form.repeatedPassword.$touch"
        ></b-form-input>

        <div class="error" v-if="!$v.form.repeatedPassword.required">Repeated password field is required.</div>
        <div class="error" v-if="!$v.form.repeatedPassword.sameAsPassword">Repeated password does not match password</div>
         </b-form-group>

         <b-form-group id="submit">
             <b-button type="submit" variant="primary" :disabled="$v.$invalid">Login</b-button>
         </b-form-group>
      </b-form>
    </b-container>
</template>

<style scoped>
.error {
    color: #d9534f;
}
</style>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { errorMixin } from '../mixins/error'

export default {
    mixins: [errorMixin],
    data() {
        return {
            error: '',
            form: {
                email: '',
                password: '',
                repeatedPassword: ''
            },
        }
    },

    validations: {
        form: {
            email: {
                required,
                email
            },

            password: {
                required,
            },
            
            repeatedPassword: {
                required,
                sameAsPassword(field) {
                    return field === this.form.password 
                }
            }
        }
    },

    methods: {
        async submit() {
            await this.$store.dispatch('account/registerAndLoginAsync', this.form)
            this.$router.push('dashboard')
        }
    }    
}
</script>