<template>
 <b-navbar toggleable="lg" type="dark" variant="danger">
    <b-navbar-brand router-link to="/dashboard">Postduif</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav v-if="loggedIn">
        <b-nav-item router-link to="/dashboard">Dashboard</b-nav-item>
        <b-nav-item @click="logout()">Logout</b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav v-else>
        <b-nav-item router-link to="/">Login</b-nav-item>
        <b-nav-item router-link to="register">Create an account</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  props: ['loggedIn'],

  methods: {
    logout() {
      this.$store.dispatch('account/logout')
      this.$router.push('/')
    }
  }
}
</script>