<template>
  <div id="app">
       <Nav :logged-in="isLoggedIn" />
       <router-view />
  </div>
</template>

<style>
#global {
  margin-top: 35px;
}
</style>

<script>
import Nav from '@/components/Nav.vue'
export default {
  components: {
    Nav
  },

  computed: {
    isLoggedIn() {
      return this.$store.getters['account/isLoggedIn']
    }
  }
}
</script>