<template>
    <b-container id="global">
        <b-row>
            <b-col>
                <h1>Create a new inbox</h1>
                <b-alert v-if="error" variant="danger" show v-html="error"></b-alert>
                <b-form @submit.prevent="submit"> 
            <b-form-group
        label="Inbox name"
      >

      <b-form-input
        type="text"
        v-model="form.name"
        ></b-form-input>

      </b-form-group>

      <b-form-group>  
          <b-button type="submit" variant="primary" :disabled="$v.$invalid">Create inbox</b-button>
      </b-form-group>
      </b-form> 
            </b-col>
        </b-row>

    </b-container>
</template>
<script>
import { errorMixin } from '../../mixins/error'
import { required } from 'vuelidate/lib/validators'

export default {
    mixins: [ errorMixin ],

    data() {
        return {
            form: {
                name: '' 
            }
        }
    },

    validations: {
        form: {
            name: {
                required
            }
        }
    },

    methods: {
        async submit() {
            await this.$store.dispatch('inbox/createAsync', this.form)
            this.$router.push({ name: 'Dashboard' })
        }
    }
}
</script>